.beer-content {
  display: flex;
  width: 50%;
  border-radius: 30px;
  box-shadow: 0px 1px 36px 4px rgba(0, 0, 0, 0.05);
  background: #fff;
  cursor: pointer;
}

.beer-card {
  padding: 30px;
  &:hover {
    border-radius: 30px;
    box-shadow: 0px 1px 36px 4px rgba(21, 185, 214, 0.5);
  }
}

.beer-name {
  font-size: 15px;
  display: block;
  padding-bottom: 25px;
  text-align: center;
}

.beer-img {
  width: 10%;
  padding: 0px 0;
  // min-height: 150px;
  // min-width: 250px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.beer-descr {
  text-align: center;
  margin: 15px;
  min-width: 200px;
}